<h1>Listing ip_addrs</h1>

<table>
  <tr>
    <th>Ip addr</th>
  </tr>

<% @ip_addrs.each do |ip_addr| %>
  <tr>
    <td><%=h ip_addr.ip_addr %></td>
    <td><%= link_to 'Show', ip_addr %></td>
    <td><%= link_to 'Edit', edit_ip_addr_path(ip_addr) %></td>
    <td><%= link_to 'Destroy', ip_addr, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ip_addr', new_ip_addr_path %>